.game-list {
	display: flex;
	height: auto;
	align-items: center;
	justify-content: center;
	gap: 40px;
	margin-top: 0px;
}

.form-1,
.lista {
	/* adicionado css no forme e na lista*/

	/* background-color: var(--bg-main); */
	background-color: lightgray;
	height: 310px;
	width: 220px;
	padding: 20px;
	border-radius: 5px;
	justify-content: center;
	align-items: center;

}

#cadastro {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 12px;
}

h2,
label,
h3 {
	color: var(--segundo-titulo);
	font-family: 'Inter', sans-serif;
}

h2 {
	font-size: 20px;
	font-weight: 700;
}

h3 {
	font-size: 15px;
	padding-bottom: 5px;
}

label {
	font-size: 15px;
	font-weight: 700;
}

#name {
	width: 180px;
	font-family: 'Inter', sans-serif;
	border-radius: 4px;
	font-size: 8px;
	font-weight: bold;
	padding: 5px;
	border: 1px solid #737171;
}

textarea {
	height: 60px;
	width: 180px;
	font-size: 10px;
	font-family: 'Inter', sans-serif;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid #737171;
}

#favoritar {
	display: flex;
	align-items: center;
}

/* #elipse1,
#elipse2 {
	width: 20px;
	height: 20px;
	margin: 5px;
	background-color: #F2EDED;
	border-radius: 50%;
	cursor: pointer;
} */

/* #sim,
#nao {
	font-family: 'Inter', sans-serif;
	color: var(--segundo-titulo);
	font-size: 15px;
	font-weight: 700;
} */

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	position: relative;
	margin-top: 5px;

}

button {
	width: 150px;
	height: 30px;
	border-radius: 28px;
	background-color: var(--btn-color);
	border: 1px solid #737171;
	color: var(--bg-main);
	position: absolute;
	cursor: pointer;
}

button:hover {
	background-color: var(--btn-hover);
}

.area-form {
	padding-bottom: 10px;

}

/* ----------------- lista de games ---------------*/
.lista-header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

.scroll {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 190px;
	height: 200px;
	scrollbar-width: thin;
	scrollbar-color: #333333 #999999;
}

li {
	list-style: none;
}

.jogo-container {
	display: flex;
	position: relative;
	border-radius: 5px;
	padding: 5px;
	height: 80px;

	background-color: var(--game-lista);
	width: 180px;


}

#joystick {
	display: flex;
	align-items: center;
	justify-content: center;
}

h4 {
	color: var(--bg-main);
	font-family: 'Inter', sans-serif;
	font-size: 10px;

}

#action {
	display: flex;
	width: 100%;
	justify-content: end;
	align-content: center;
}


#excluir,
#estrela {
	display: flex;
	padding: 2px;
	height: 30px;
	justify-content: center;
	cursor: pointer;

}

.titulo {
	word-wrap: break-word;
	overflow: hidden;
	width: auto;
}

#conteudo {
	display: flex;
	width: auto;
	height: 50px;
	align-items: center;
	justify-content: center;

}

p {
	color: #F2EDED;
	word-wrap: break-word;
	font-size: 5px;
	font-weight: 600;
	font-family: 'Inter', sans-serif;
	width: 300px;

}

#area-descricao {
	position: relative;
	height: 40px;
	width: 40px;

}

#gameTable {
	background-color: blue;
	width: 100%;
	border-radius: 5px;
	font-family: 'Inter', sans-serif;
	color: #fff;
}

#nomeJogo {
	font-weight: bold;
}

select {
	width: 100%;
	margin-bottom: 10px;
	font-family: 'Inter', sans-serif;
	border-radius: 4px;
	font-size: 8px;
	font-weight: bold;
	padding: 5px;
	border: 1px solid #737171;
}